* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(openingIMG.jpg);
  background-size: 150%;
  background-repeat: repeat;
  background-position: center;
  font-family: sans-serif;
}
.menu-bar {
  background: rgb(101, 101, 121);
  text-align: center;
}
.menu-bar ul {
  display: inline-flex;
  list-style: none;
  color: #fff;
}
.menu-bar ul li {
  width: 120px;
  margin: 15px;
  padding: 15px;
}
.menu-bar ul li a {
  text-decoration: none;
  color: #fff;
}
.active,
.menu-bar ul li:hover {
  background: #10b9ec;
  border-radius: 3px;
}
.sub-menu-1 {
  display: none;
}
.menu-bar ul li:hover .sub-menu-1 {
  display: block;
  position: absolute;
  background: #049fce;
  margin-top: 15px;
  margin-left: -70px;
}
.menu-bar ul li:hover .sub-menu-1 ul {
  display: block;
  margin: 10px;
}
.menu-bar ul li:hover .sub-menu-1 ul li {
  width: 150px;
  padding: 10px;
  border-bottom: 1px dotted #fff;
  background: transparent;
  border-radius: 0;
  text-align: right;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child {
  border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover {
  color: rgb(0, 204, 255);
}

.footer {
  position: relative;
  height: 91vh;
}

.footer .yellow {
  /* display: flex;
  justify-content: center; */
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer footer a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  background-color: rgb(102, 96, 96, 0.5);
  color: black;
  border: rgb(168, 90, 0);
  border-radius: 5px;
  font-weight: bold;
  text-align: center;
}
